IDE/test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.16) on 2020 Mar 05 10:41:58, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:tomk:xsd:test" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:tomk::xsd:test">
    <xs:element name="root" type="rootDocument"/>
    <xs:element name="test">
        <xs:sequence>
            <xs:element name="element1" type="xs:string"/>
            <xs:element ref="test_by_reference"/>
        </xs:sequence>
    </xs:element>
    <xs:complexType name="rootDocument">
        <xs:sequence>
            <xs:element ref="test"/>
            <xs:element name="string" type="xs:string"/>
            <xs:element ref="test2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="test2">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="test">
                    <xs:sequence>
                        <xs:element name="element3" type="xs:integer"/>
                        <xs:element ref="test_by_reference"/>
                    </xs:sequence>
                    <xs:attribute name="message" type="xs:string"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="alt_type">
        <xs:extension base="test2">
            <xs:sequence>
                <xs:element ref="test"/>
                <xs:element name="element6" type="xs:string"/>
                <xs:element name="something" type="big_string"/>
            </xs:sequence>
        </xs:extension>
    </xs:complexType>
    <xs:simpleType name="big_string">
        <xs:extension base="xs:string">
            <xs:attribute name="big" type="xs:string"/>
        </xs:extension>
    </xs:simpleType>

    <xs:element name="test_by_reference" type="alt_type"/>

</xs:schema>