IDE/test copy.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.16) on 2020 Mar 05 10:41:58, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:tomk:xsd:test" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:tomk::xsd:test">

    <xs:element abstract="true" name="CommonExtensionBObj" type="CommonExtensionBObjType"/>
    <xs:complexType name="CommonExtensionBObjType"/>

    <xs:element name="TCRMExtension">
        <xs:complexType>
            <xs:sequence>
                <xs:element  maxOccurs="unbounded" minOccurs="unbounded" ref="ExtendedObject"/>
                <xs:element  maxOccurs="unbounded" minOccurs="unbounded" ref="CommonExtensionBObj"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ExtendedObject" type="xs:string"/>

    <xs:element name="CustomerManagement" substitutionGroup="CommonExtensionBObj">
        <xs:complexType>
            <xs:annotation>
                <xs:documentation>
                </xs:documentation>
            </xs:annotation>
            <xs:complexContent>
                <xs:extension base="CommonExtensionBObjType">
                    <xs:sequence maxOccurs="1" minOccurs="1">
                        <xs:element maxOccurs="1" minOccurs="1" ref="MessageControl"/>
                        <xs:element maxOccurs="1" minOccurs="1" ref="Content"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name = "MessageControl" substitutionGroup="CommonExtensionBObj">
        <xs:complexType>
            <xs:annotation>
                <xs:documentation>
                    Message meta-information.
                </xs:documentation>
            </xs:annotation>
            <xs:complexContent>
                <xs:extension base="CommonExtensionBObjType">
                    <xs:sequence maxOccurs="1" minOccurs="1">
                        <xs:element maxOccurs="1" minOccurs="0" ref="MessageType"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="MessageVersion"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="Source"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="NodeId"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="SourceMessageId"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="SourceDateTimeStamp"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="SourceUserId"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="LogLevel"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="MessageType" type="xs:string"/>
    <xs:element name="MessageVersion" type="xs:string"/>
    <xs:element name="Source" type="xs:string"/>
    <xs:element name="NodeId" type="xs:string"/>
    <xs:element name="SourceMessageId" type="xs:string"/>
    <xs:element name="SourceDateTimeStamp" type="xs:string"/>
    <xs:element name="SourceUserId" type="xs:string"/>
    <xs:element name="LogLevel" type="xs:string"/>

    <xs:element name = "Content" substitutionGroup="CommonExtensionBObj">
        <xs:complexType>
            <xs:annotation>
                <xs:documentation>
                    Data Payload
                </xs:documentation>
            </xs:annotation>
            <xs:complexContent>
                <xs:extension base="CommonExtensionBObjType">
                    <xs:sequence maxOccurs="1" minOccurs="1">
                        <xs:element maxOccurs="1" minOccurs="0" ref="Agreement"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="ContactHistory"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="AuthenticatedClient"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="Customer"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="Client"/>
                    </xs:sequence>
                <xs:attribute name="message" type="xs:string"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name = "Agreement" substitutionGroup="CommonExtensionBObj">
        <xs:complexType>
            <xs:annotation>
                <xs:documentation>
                    Data Payload
                </xs:documentation>
            </xs:annotation>
            <xs:complexContent>
                <xs:extension base="CommonExtensionBObjType">
                    <xs:sequence maxOccurs="1" minOccurs="1">
                        <xs:element maxOccurs="1" minOccurs="0" ref="Host"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="AgreementDetails"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="Client"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="CorrespondenceAddress"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="Role"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="AgreementRelationship"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="Host" type="xs:string"/>

    <xs:element name = "AgreementDetails" substitutionGroup="CommonExtensionBObj">
        <xs:complexType>
            <xs:annotation>
                <xs:documentation>
                    Agreement Details
                </xs:documentation>
            </xs:annotation>
            <xs:complexContent>
                <xs:extension base="CommonExtensionBObjType">
                    <xs:sequence maxOccurs="1" minOccurs="1">
                        <xs:element maxOccurs="1" minOccurs="0" ref="RefType"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="Name"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" ref="AlternateRef"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="StartDate"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="EndDate"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="AgreementStatus"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="ProductCode"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="DistributionChannel"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="ServicedBy"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="ServicingAgency"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="PolicyFlag"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="RefType" type="xs:string"/>
    <xs:element name="Name" type="xs:string"/>
    <xs:element name="StartDate" type="xs:string"/>
    <xs:element name="EndDate" type="xs:string"/>
    <xs:element name="AgreementStatus" type="xs:string"/>
    <xs:element name="ProductCode" type="xs:string"/>
    <xs:element name="DistributionChannel" type="xs:string"/>
    <xs:element name="ServicedBy" type="xs:string"/>
    <xs:element name="ServicingAgency" type="xs:string"/>
    <xs:element name="PolicyFlag" type="xs:string"/>

    <xs:element name="AuthenticatedClient" substitutionGroup="CommonExtensionBObj">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="CommonExtensionBObjTpye">
                    <xs:sequence maxOccurs="1" minOccurs="1">
                        <xs:element maxOccurs="1" minOccurs="1" ref="Client"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="Customer" substitutionGroup="CommonExtensionBObj">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="CommonExtensionBObjTpye">
                    <xs:sequence maxOccurs="1" minOccurs="1">
                        <xs:element maxOccurs="1" minOccurs="1" ref="Client"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="ContactHistory" substitutionGroup="CommonExtensionBObj" type="ContactHistoryType"/>

    <xs:complexType name="ContactHistoryType">
        <xs:complexContent>
            <xs:extension base="CommonExtensionBObjTpye">
                <xs:sequence maxOccurs="1" minOccurs="1">
                    <xs:element maxOccurs="1" minOccurs="1" ref="ObjectReferenceId"/>
                    <xs:element maxOccurs="1" minOccurs="1" ref="Action"/>
                    <xs:element maxOccurs="1" minOccurs="1" ref="Contact"/>
                    <xs:element maxOccurs="1" minOccurs="1" ref="PrimaryKeyObj"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="PrimaryKeyObj" substitutionGroup="CommonExtensionBObj">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="CommonExtensionBObjTpye">
                    <xs:sequence maxOccurs="1" minOccurs="1">
                        <xs:element maxOccurs="1" minOccurs="0" ref="ObjectReferenceId"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" ref="KeyBObj"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>


    <xs:element name="KeyBObj" substitutionGroup="CommonExtensionBObj">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="CommonExtensionBObjTpye">
                    <xs:sequence maxOccurs="1" minOccurs="1">
                        <xs:element maxOccurs="1" minOccurs="1" ref="KeyName"/>
                        <xs:element maxOccurs="1" minOccurs="1" ref="KeyValue"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="KeyName" type="xs:string"/>
    <xs:element name="KeyValue" type="xs:string"/>


    <xs:element name="Action" substitutionGroup="CommonExtensionBObj">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="CommonExtensionBObjTpye">
                    <xs:sequence maxOccurs="1" minOccurs="1">
                        <xs:element maxOccurs="1" minOccurs="1" ref="ActionRequired"/>
                        <xs:element maxOccurs="1" minOccurs="1" ref="ActionDate"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>


    <xs:element name="ActionRequired" type="xs:string"/>
    <xs:element name="ActionDate" type="xs:string"/>

    

    <xs:element name="AlternateRef" substitutionGroup="CommonExtensionBObj">
        <xs:complexType>
            <xs:complexContent>
                <xs:sequence maxOccurs="1" minOccurs="1">
                    <xs:element maxOccurs="1" minOccurs="0" ref="Type"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="Value"/>
                </xs:sequence>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    
    <xs:element name="Type" type="xs:string"/>
    <xs:element name="Value" type="xs:string"/>

    <xs:element name = "Client" substitutionGroup="CommonExtensionBObj">
            <xs:complexType>
                <xs:annotation>
                    <xs:documentation>
                        Agreement Details
                    </xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                    <xs:extension base="CommonExtensionBObjType">
                        <xs:sequence maxOccurs="1" minOccurs="1">
                            <xs:element maxOccurs="1" minOccurs="0" ref="Id"/>
                            <xs:element maxOccurs="1" minOccurs="0" ref="CustomerId"/>
                            <xs:element maxOccurs="1" minOccurs="0" ref="EmailAddress"/>
                            <xs:element maxOccurs="unbounded" minOccurs="0" ref="Phone"/>
                            <xs:element maxOccurs="unbounded" minOccurs="0" ref="Person"/>
                            <xs:element maxOccurs="unbounded" minOccurs="0" ref="Organisation"/>
                            <xs:element maxOccurs="unbounded" minOccurs="0" ref="CorrespondenceAddress"/>
                            <xs:element maxOccurs="1" minOccurs="0" ref="TelephoneNumbers"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:element>

    <xs:element name="Id" type="xs:string"/>
    <xs:element name="CustomerId" type="xs:string"/>
    <xs:element name="EmailAddress" type="xs:string"/>


    <xs:element name = "TelephoneNumbers" substitutionGroup="CommonExtensionBObj">
            <xs:complexType>
                <xs:annotation>
                    <xs:documentation>
                        Telephone Details
                    </xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                    <xs:extension base="CommonExtensionBObjType">
                        <xs:sequence maxOccurs="1" minOccurs="1">
                            <xs:element maxOccurs="unbounded" minOccurs="0" ref="TelephoneNumber"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:element>

    <xs:element name = "TelephoneNumber" substitutionGroup="CommonExtensionBObj">
        <xs:complexType>
            <xs:annotation>
                <xs:documentation>
                    Telephone Details
                </xs:documentation>
            </xs:annotation>
            <xs:complexContent>
                <xs:extension base="CommonExtensionBObjType">
                    <xs:sequence maxOccurs="1" minOccurs="1">
                        <xs:element maxOccurs="1" minOccurs="0" ref="Source"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="Type"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="PreferredTelephoneNumber"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="PhoneUnstructured"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="PreferredTelephoneNumber" type="xs:string"/>


    <xs:element name = "Phone" substitutionGroup="CommonExtensionBObj">
        <xs:complexType>
            <xs:annotation>
                <xs:documentation>
                    Telephone Details
                </xs:documentation>
            </xs:annotation>
            <xs:complexContent>
                <xs:extension base="CommonExtensionBObjType">
                    <xs:sequence maxOccurs="1" minOccurs="1">
                        <xs:element maxOccurs="1" minOccurs="0" ref="Type"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="PhoneStructured"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="PhoneUnstructured"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="StartDate"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="EndDate"/>
                        
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name = "Phone" substitutionGroup="CommonExtensionBObj">
        <xs:complexType>
            <xs:annotation>
                <xs:documentation>
                    Telephone Details
                </xs:documentation>
            </xs:annotation>
            <xs:complexContent>
                <xs:extension base="CommonExtensionBObjType">
                    <xs:sequence maxOccurs="1" minOccurs="1">
                        <xs:element maxOccurs="1" minOccurs="0" ref="Type"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="PhoneStructured"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="PhoneUnstructured"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="StartDate"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="EndDate"/>
                        
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name = "PhoneStructured" substitutionGroup="CommonExtensionBObj">
        <xs:complexType>
            <xs:annotation>
                <xs:documentation>
                    Agreement Details
                </xs:documentation>
            </xs:annotation>
            <xs:complexContent>
                <xs:extension base="CommonExtensionBObjType">
                    <xs:sequence maxOccurs="1" minOccurs="1">
                        <xs:element maxOccurs="1" minOccurs="0" ref="PhoneCountryCode"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="PhoneAreaCode"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="PhoneNumber"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="PhoneExtension"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="PhoneCountryCode" type="xs:string"/>
    <xs:element name="PhoneAreaCode" type="xs:string"/>
    <xs:element name="PhoneNumber" type="xs:string"/>
    <xs:element name="PhoneExtension" type="xs:string"/>
    <xs:element name="PhoneUnstructured" type="xs:string"/>


    <xs:element name = "Person" substitutionGroup="CommonExtensionBObj">
        <xs:complexType>
            <xs:annotation>
                <xs:documentation>
                    Agreement Details
                </xs:documentation>
            </xs:annotation>
            <xs:complexContent>
                <xs:extension base="CommonExtensionBObjType">
                    <xs:sequence maxOccurs="1" minOccurs="1">
                        <xs:element maxOccurs="1" minOccurs="0" ref="BirthDate"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="AgeVerified"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="BirthGender"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="MaritalStatus"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" ref="PersonName"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="NationalInsuranceNumber"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" ref="Death"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="Nationality"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="BirthDate" type="xs:string"/>
    <xs:element name="AgeVerified" type="xs:boolean"/>
    <xs:element name="BirthGender" type="xs:string"/>
    <xs:element name="MaritalStatus" type="xs:string"/>
    <xs:element name="NationalInsuranceNumber" type="xs:string"/>
    <xs:element name="Nationality" type="xs:string"/>

    <xs:element name = "PersonName" substitutionGroup="CommonExtensionBObj">
        <xs:complexType>
            <xs:annotation>
                <xs:documentation>
                    Person Name
                </xs:documentation>
            </xs:annotation>
            <xs:complexContent>
                <xs:extension base="CommonExtensionBObjType">
                    <xs:sequence maxOccurs="1" minOccurs="1">
                        <xs:element maxOccurs="1" minOccurs="0" ref="Title"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="GivenName1"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="GivenName2"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="GivenName3"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="GivenName4"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="LastName"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="Suffix"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="StartDate"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="EndDate"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>


    <xs:element name="Title" type="xs:string" />
    <xs:element name="GivenName1" type="xs:string" />
    <xs:element name="GivenName2" type="xs:string" />
    <xs:element name="GivenName3" type="xs:string" />
    <xs:element name="GivenName4" type="xs:string" />
    <xs:element name="LastName" type="xs:string" />
    <xs:element name="Suffix" type="xs:string" />
    <xs:element name="StartDate" type="xs:string" />
    <xs:element name="EndDate" type="xs:string" />


    <xs:element name = "Death" substitutionGroup="CommonExtensionBObj">
        <xs:complexType>
            <xs:annotation>
                <xs:documentation>
                    Confirmed Death Notification
                </xs:documentation>
            </xs:annotation>
            <xs:complexContent>
                <xs:extension base="CommonExtensionBObjType">
                    <xs:sequence maxOccurs="1" minOccurs="1">
                        <xs:element maxOccurs="1" minOccurs="0" ref="DateOfDeath"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="NotificationDate"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="ConfirmationDate"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="DateOfDeath" type="xs:string" />
    <xs:element name="NotificationDate" type="xs:string" />
    <xs:element name="ConfirmationDate" type="xs:string" />


    <xs:element name = "Organisation" substitutionGroup="CommonExtensionBObj">
        <xs:complexType>
            <xs:annotation>
                <xs:documentation>
                    Agreement Details
                </xs:documentation>
            </xs:annotation>
            <xs:complexContent>
                <xs:extension base="CommonExtensionBObjType">
                    <xs:sequence maxOccurs="1" minOccurs="1">
                        <xs:element maxOccurs="1" minOccurs="0" ref="OrganisationName"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="OrganisationNameType"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="StartDate"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="EndDate"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="OrganisationName" type="xs:string" />
    <xs:element name="OrganisationNameType" type="xs:string" />


    <xs:element name = "CorrespondenceAddress" substitutionGroup="CommonExtensionBObj">
        <xs:complexType>
            <xs:annotation>
                <xs:documentation>
                    CorrespondenceAddress
                </xs:documentation>
            </xs:annotation>
            <xs:complexContent>
                <xs:extension base="CommonExtensionBObjType">
                    <xs:sequence maxOccurs="1" minOccurs="1">
                        <xs:element maxOccurs="1" minOccurs="0" ref="Id"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="StandardisedUKAddress"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="NonStandardAddress"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="StartDate"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="EndDate"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name = "StandardisedUKAddress" substitutionGroup="CommonExtensionBObj">
        <xs:complexType>
            <xs:annotation>
                <xs:documentation>
                    CorrespondenceAddress
                </xs:documentation>
            </xs:annotation>
            <xs:complexContent>
                <xs:extension base="CommonExtensionBObjType">
                    <xs:sequence maxOccurs="1" minOccurs="1">
                        <xs:element maxOccurs="1" minOccurs="0" ref="AddressLine1"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="AddressLine2"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="AddressLine3"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="City"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="CountyProvince"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="CountryCode"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="PostCode"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="AddressLine1" type="xs:string" />
    <xs:element name="AddressLine2" type="xs:string" />
    <xs:element name="AddressLine3" type="xs:string" />
    <xs:element name="City" type="xs:string" />
    <xs:element name="CountyProvince" type="xs:string" />
    <xs:element name="CountryCode" type="xs:string" />
    <xs:element name="PostCode" type="xs:string" />


    <xs:element name = "NonStandardAddress" substitutionGroup="CommonExtensionBObj">
        <xs:complexType>
            <xs:annotation>
                <xs:documentation>
                    CorrespondenceAddress
                </xs:documentation>
            </xs:annotation>
            <xs:complexContent>
                <xs:extension base="CommonExtensionBObjType">
                    <xs:sequence maxOccurs="1" minOccurs="1">
                        <xs:element maxOccurs="1" minOccurs="0" ref="AddressLine1"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="AddressLine2"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="AddressLine3"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="AddressLine4"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="AddressLine5"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="AddressLine6"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="CountryCode"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="PostCode"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="ForeignAddressInd"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="AddressLine4" type="xs:string" />
    <xs:element name="AddressLine5" type="xs:string" />
    <xs:element name="AddressLine6" type="xs:string" />
    <xs:element name="ForeignAddressInd" type="xs:string" />

    <xs:element name = "Role" substitutionGroup="CommonExtensionBObj">
        <xs:complexType>
            <xs:annotation>
                <xs:documentation>
                    Role in terms of a Contract
                </xs:documentation>
            </xs:annotation>
            <xs:complexContent>
                <xs:extension base="CommonExtensionBObjType">
                    <xs:sequence maxOccurs="1" minOccurs="1">
                        <xs:element maxOccurs="1" minOccurs="0" ref="RoleType"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="StartDate"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="EndDate"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="Client"/>
                        <xs:element maxOccurs="1" minOccurs="0" ref="CorrespondenceAddress"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="RoleType" type="xs:string" />

    <xs:element name = "AgreementRelationship" substitutionGroup="CommonExtensionBObj">
            <xs:complexType>
                <xs:annotation>
                    <xs:documentation>
                        Role in terms of a Contract
                    </xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                    <xs:extension base="CommonExtensionBObjType">
                        <xs:sequence maxOccurs="1" minOccurs="1">
                            <xs:element maxOccurs="1" minOccurs="0" ref="OtherAgreementRef"/>
                            <xs:element maxOccurs="1" minOccurs="0" ref="StartDate"/>
                            <xs:element maxOccurs="1" minOccurs="0" ref="EndDate"/>
                            <xs:element maxOccurs="1" minOccurs="0" ref="Type"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:element>

    <xs:element name = "OtherAgreementRef" substitutionGroup="CommonExtensionBObj">
            <xs:complexType>
                <xs:annotation>
                    <xs:documentation>
                        Pointer to another agreement
                    </xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                    <xs:extension base="CommonExtensionBObjType">
                        <xs:sequence maxOccurs="1" minOccurs="1">
                            <xs:element maxOccurs="1" minOccurs="0" ref="Host"/>
                            <xs:element maxOccurs="1" minOccurs="0" ref="RefType"/>
                            <xs:element maxOccurs="1" minOccurs="0" ref="Name"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:element>


    <xs:element name = "Contact" substitutionGroup="CommonExtensionBObj">
            <xs:complexType>
                <xs:annotation>
                    <xs:documentation>
                        
                    </xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                    <xs:extension base="CommonExtensionBObjType">
                        <xs:sequence maxOccurs="1" minOccurs="1">
                            <xs:element maxOccurs="1" minOccurs="0" ref="ObjectReferenceId"/>
                            <xs:element maxOccurs="1" minOccurs="0" ref="ContactDate"/>
                            <xs:element maxOccurs="1" minOccurs="0" ref="ContactId"/>
                            <xs:element maxOccurs="1" minOccurs="0" ref="RecordedBy"/>
                            <xs:element maxOccurs="1" minOccurs="0" ref="ContactMedium"/>
                            <xs:element maxOccurs="1" minOccurs="0" ref="ContactType"/>
                            <xs:element maxOccurs="1" minOccurs="0" ref="CategoryName"/>
                            <xs:element maxOccurs="1" minOccurs="0" ref="CustomerType"/>
                            <xs:element maxOccurs="1" minOccurs="0" ref="PartyOrAgreement"/>
                            <xs:element maxOccurs="1" minOccurs="0" ref="PartyIdentifier"/>
                            <xs:element maxOccurs="1" minOccurs="0" ref="AgreementIdentifier"/>
                            <xs:element maxOccurs="1" minOccurs="0" ref="AgreementHostSystem"/>
                            <xs:element maxOccurs="1" minOccurs="0" ref="HostClientId"/>
                            <xs:element maxOccurs="1" minOccurs="0" ref="RecordedDate"/>
                            <xs:element maxOccurs="1" minOccurs="0" ref="ContactShortDescription"/>
                            <xs:element maxOccurs="1" minOccurs="0" ref="ClientHostSystem"/>
                            <xs:element maxOccurs="1" minOccurs="0" ref="Description"/>
                            <xs:element maxOccurs="1" minOccurs="0" ref="CustomerName"/>
                            <xs:element maxOccurs="1" minOccurs="0" ref="RequestTimestamp"/>
                            <xs:element maxOccurs="1" minOccurs="0" ref="DocumentSystem"/>
                            <xs:element maxOccurs="1" minOccurs="0" ref="DocumentKey"/>
                            <xs:element maxOccurs="1" minOccurs="0" ref="DocumentMedium"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:element>

    <xs:element name="ObjectReferenceId" type="xs:string" />
    <xs:element name="ContactDate" type="xs:string" />
    <xs:element name="ContactId" type="xs:string" />
    <xs:element name="RecordedBy" type="xs:string" />

    <xs:element name="ContactMedium" type="xs:string" />
    <xs:element name="ContactType" type="xs:string" />
    <xs:element name="CategoryName" type="xs:string" />
    <xs:element name="CustomerType" type="xs:string" />
    <xs:element name="PartyOrAgreement" type="xs:string" />
    <xs:element name="PartyIdentifier" type="xs:string" />


    <xs:element name="AgreementIdentifier" type="xs:string" />
    <xs:element name="AgreementHostSystem" type="xs:string" />
    <xs:element name="HostClientId" type="xs:string" />
    <xs:element name="RecordedDate" type="xs:string" />


    <xs:element name="ContactShortDescription" type="xs:string" />
    <xs:element name="ClientHostSystem" type="xs:string" />
    <xs:element name="Description" type="xs:string" />
    <xs:element name="CustomerName" type="xs:string" />

    <xs:element name="RequestTimestamp" type="xs:string" />
    <xs:element name="DocumentSystem" type="xs:string" />
    <xs:element name="DocumentKey" type="xs:string" />
    <xs:element name="DocumentMedium" type="xs:string" />



    



    

    <xs:element name="root" type="rootDocument"/>
    <xs:element name="test">
        <xs:sequence>
            <xs:element name="element1" type="xs:string"/>
            <xs:element ref="test_by_reference"/>
        </xs:sequence>
    </xs:element>
    <xs:complexType name="rootDocument">
        <xs:sequence>
            <xs:element ref="test"/>
            <xs:element name="string" type="xs:string"/>
            <xs:element ref="test2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="test2">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="test">
                    <xs:sequence>
                        <xs:element name="element3" type="xs:integer"/>
                        <xs:element ref="test_by_reference"/>
                    </xs:sequence>
                    <xs:attribute name="message" type="xs:string"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="alt_type">
        <xs:extension base="test2">
            <xs:sequence>
                <xs:element ref="test"/>
                <xs:element name="element6" type="xs:string"/>
                <xs:element name="something" type="big_string"/>
            </xs:sequence>
        </xs:extension>
    </xs:complexType>
    <xs:complexType name="big_string">
        <xs:extension base="xs:string">
            <xs:attribute name="big" type="xs:string"/>
        </xs:extension>
    </xs:complexType>

    <xs:element name="test_by_reference" type="alt_type"/>

</xs:schema>